<div class="panel">
	<table class="table {{ classes }} ">
		<thead>
			<tr>
				{% if functions %}
				<th></th>
				{% endif %}
				{% for heading in headers %}
				<th>{{ instance.get_label(heading) | capitalize }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% if data %}
			{% for dataset in data %}
			<tr>
				{% if functions %}
				<td>
					{#{% for function in functions %}
					<a href="{{function.action}}/ {{ dataset.id }}" class="btn {{function.classes}}">{{ function.label }}</a>#}
					{{ instance.render_functions(dataset)}}
					{#{% endfor %}#}
				</td>

				{% endif %}
				{% for field in headers %}
				<td>{{ instance.render_value(field,dataset[field] ,dataset)}}</td>
				{% endfor %}

			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td colspan="{{ headers | length }}" class="text-center">
					Sorry no results found
				</td>
			</tr>
			{% endif%}
		</tbody>

	</table>
</div>
{% if pages > 1 %}
<div class="panel-footer"><ul class="pagination">
			{% for i in 1..pages %}
		<li {% if i == current %} class='active' {% endif %} ><a href="{{ current_url }}{{get_con}}p={{ i }}">{{ i }}</a></li>
			{% endfor %}
	</ul>
</div>

{#{{ current_url }}#}

{% endif %}